body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    padding: 16px 32px;
}

.actionbox {
    padding: 64px 128px;
}

.content,
.quotebox {
    padding: 32px 64px;
}

.content {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerbox {
    display: flex;
    justify-content: space-between;
}

.underheader {
    padding: 64px 0px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.underheader p {
    width: 560px;
}

.linkbox {
    display: flex;
    gap: 16px;
}

.cardcontainer {
    display: flex;
    justify-content: space-around;
}

.infocard {
    width: 163px;
}

.underheader img {
    height: 280px;
    width: auto;
}

.infocard img {
    height: 160px;
    width: 160px;
    border: 3px solid #3882F6;
    border-radius: 10%;
    object-fit: cover;
    object-position: 0 top;
}

.infocard p {
    color: #2a3442;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

h3 {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

h4 {
    font-size: 18px;
    margin: 0px;
    color: #F9FAF8;
}

h5 {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    border: 0px;
    border-radius: 6px;
    font-size: 18px;
    padding: 4px 24px;
}

.quotebox {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 32px 256px;
}

.quotebox p {
    color: #1F2937;
    align-self: flex-end;
}

.bluebox {
    padding: 32px 32px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
}

.bluebox p {
    margin: 0;
}

.bluebox button {
    border: 2px solid #F9FAF8;
    align-self: center;
}

.footer {
    text-align: center;
}